/* Main Body */
body{
    background-image: url(pic/bg-desktop-light.jpg);
    font-family: Josefin Sans;
    background-repeat: no-repeat; 
    background-color: black;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    font-size: 12px;
}
header{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 700;
    position: relative;
    right: 130px;
}
header::after{
    content: url(pic/icon-sun.svg);
    position: relative;
    left: 260px;
}
/*  Form  */
.form1{
    border: 1px solid #28282B;
    width: 350px;
    height: auto;
    justify-content: left;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #28282B;
    transition: 0.1s;
    border-radius: 5px;
}
.form2{
    border: 1px solid #28282B;
    width: 350px;
    height: auto;
    margin-top: 20px;
    background-color: #28282B;
    transition: 0.1s;
    border-radius: 5px 5px 0px 0px;
}
.form3{
    border: 1px solid #28282B;
    width: 350px;
    height: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #28282B;
    transition: 0.1s;
    border-radius: 0px 0px 5px 5px;
}
/* Checkbox */
.checkbox{
    -webkit-appearance: none;
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 17px;
    background-color: #28282B;
    border: 0.25px solid white;
    cursor: pointer;
    margin-left: 15px;
}
.checkbox:checked{
    background: linear-gradient(135deg,rgb(51, 51, 187),rgb(219, 100, 221));
}
/* Written Content */
.text{
    padding-top: 4%;
    padding-bottom: 4%;
    font-family: 'Roboto Condensed', sans-serif;
}
.bottom-text{
    padding-top: 1%;
    padding-bottom: 1%;
    
    width: 10%;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}
/* Footer */
footer{
    margin-top: 30px;
    margin-bottom: 30px;
}
.bottom-btn{ 
    text-decoration: none;
}
.bottom-btn:hover{
    background-color: rgb(82, 29, 29);
}
.bottom-btn:active{
    background-color: rgb(156, 26, 222);
}
.bottom-btn:visited{
    color: whitesmoke;
}

@media (max-width:420px) {
    header{
        color: whitesmoke;
    }
    header::after{
        content: url(pic/icon-moon.svg);
        transition: 10s;
        position: relative;
        left: 260px;
        
    }
    body{
        background-image: url(pic/bg-desktop-dark.jpg);
        background-color: white;
        color: black;
    }
    .form1{
        border: 1px solid whitesmoke;
        background-color: whitesmoke;
        transition: 0.1s;
        box-shadow: 8px 8px 15px rgba(149, 157, 165, 0.2);
    }
    .form2{
        border: 1px solid whitesmoke;
        background-color: whitesmoke;
        transition: 0.1s;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 8px 8px 15px rgba(149, 157, 165, 0.2);
    }
    .form3{
        border: 1px solid whitesmoke;
        background-color: whitesmoke;
        margin-top: 20px;
        transition: 0.1s;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 8px 8px 15px rgba(149, 157, 165, 0.2);
    }
    .checkbox{  
        background-color: whitesmoke;
        border: 0.25px solid black;
        justify-content: center;
        align-content: center;
    }
    .bottom-btn:hover{
        background-color: wheat;
    }
    a:hover{
        color: brown;
    }
    .bottom-btn:active{
        color: rgb(156, 26, 222);
    }
    .bottom-btn:visited{
        color: #28282B;
    }
    .bottom-btn:active{
        background-color: lightskyblue;
    }
    
    
}